<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.className}"/>
		<property name="jdbcUrl" value="${db.url}"/>
		<property name="user" value="${db.user}"/>
		<property name="password" value="${db.password}"/>
		<property name="maxPoolSize" value="${db.maxPoolSize}"/>
		<property name="initialPoolSize" value="${db.initialPoolSize}"/>
		<property name="minPoolSize" value="${db.minPoolSize}"/>
		<property name="maxIdleTime" value="${db.maxIdleTime}"/>
	</bean>
<context:annotation-config/>
	<context:component-scan base-package="cn.zj.myspmvc"/>
</beans>
